*.core
*.swp
.bash_history
.bash_profile
.bashrc
.gitconfig
.lesshst
.vimrc
.viminfo
.USR
.vim/
.ssh/
bak/
bin/
log/
run/
src/
tmp/
usr/
innd/bbslink
innd/innbbsd
innd/*.bbs
innd/*.link
innd/history/
